@use "../var/var" as *;

.footer {
  background: $primary;
  width: 100%;
  text-align: center;
  padding: 20px 0 10px;

  a {
    text-decoration: none;
  }

  &__home {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    opacity: 1;
    transition: all .5s;

    &:hover {
      opacity: 0.6;
      transition: all .3s;
    }
  }

  &__nav {
    padding: 20px 0;
    font-weight: 600;

    &__contact {
      margin-right: 20px;
      color: #000;
      display: inline-block;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        background: #000;
        transition: all 0.3s ease 0s;
      }

      &:hover {
        cursor: pointer;
        color: #000;

        &::after {
          width: 100%;
        }
      }
    }

    &__site {
      margin-left: 20px;
      color: #000;
      display: inline-block;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        background: #000;
        transition: all 0.3s ease 0s;
      }

      &:hover {
        cursor: pointer;
        color: #000;

        &::after {
          width: 100%;
        }
      }
    }
  }
  &__licence {
    color: #444;
    font-weight: 500;
    transition: all .3s;

    &:hover {
      color: #000;
      transition: all .3s;
    }
  }
}
