@use "../var/var" as *;
.header {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 10;

  &__top {
    background-color: $primary;
    height: 50px;
    padding: 5px;

    &__logo {
      width: 223px;
      height: 42px;
    }
  }

  &__nav {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;

    &__item {
      display: inline-block;
      padding: 0 25px;

      & a {
        color: #444;
        text-decoration-line: none;
        display: inline-block;
        position: relative;
        transition: all 0.5s ease 0s;

        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          top: 120%;
          transform: translateX(0%);
          width: 0;
          height: 1.5px;
          background: #000;
          transition: all .3s ease 0s;
        }

        &:hover {
          cursor: pointer;
          color: #000;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
