# Node.js
node_modules/

# Next.js
.next/
out/

# Compiled files
*.log
*.tsbuildinfo

# VSCode
.vscode/

# Environment variables
.env.local
.env.development.local
.env.test.local

# Optional: Ignore the build cache in case you are using yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml

# Ignore development-related files and directories
app/
lib/
java/
js/
react/
fullstack/
html/
python/
scss/
tailwind/

# Ignore source images or other development-specific assets
Img/
public/Imgs/

# Vercel specific
.vercel/

# Ignore build output
/.vercel

# Ignore Vercel environment variable configuration
.vercel.env
