@use "../var/mixin" as *;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
  rgb(var(--background-start-rgb));
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans JP", Roboto, Arial;
  background-color: #fcfcfc;
  overflow-x: clip;
  display: grid;
  grid-template:
  "  header  " 112px
  "  sidebar " auto
  "  ......  " 20px
  "   main   " 1fr
  "  ......  " 100px
  "  footer  " auto;

  @include mq(md) {
    grid-template:
    "  header  header  header  " 112px
    "  ......  ......  ......  " 30px
    "  ......  sidebar  main   " 1fr
    "  ......  ......  ......  " 100px
    "  footer  footer  footer  " auto
    /    3%     296px     1fr   ;
  }
}

// layouts
.header {
  font-family: "Montserrat", Roboto, Arial;
  grid-area: header;
}

.sidebarWrap {
  grid-area: sidebar;

  @include mq(md) {
    display: block;
  }
}

.footer {
  font-family: "Quicksand", Roboto, Arial;
  grid-area: footer;
}

.main {
  grid-area: main;
  transform-origin: top center;
  animation: loading 1s;
  @keyframes loading {
    0% {opacity: 0;transform: scale(0.95);}
    100% {opacity: 1;transform: scale(1);}
  }
}
