@use "../var/var" as *;
@use "../var/mixin" as *;
.summary {
  width: 80%;
  transform: translate(10%, 0%);
  margin-top: 20px;

  &__article {
    flex: 1 1 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    overflow-y: scroll;
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
    /* Chrome, Safari 対応 */
    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      position: relative;

      a {
        text-decoration: none;
      }

      &__section {
        position: relative; /* または absolute */
        width: 384px;
        height: 350px;
        background-color: #fff;
        box-shadow: 5px 5px 15px #00000080;
        border-radius: 25px;
        margin: 20px 30px;
        transition: all 0.5s;

        &:hover {
          cursor: pointer;
          box-shadow: 10px 15px 15px #00000080;
          opacity: 0.8;
          transform: translateY(-10px);
          transition: all .3s;
        }

        &__img {
          width: 384px;
          height: 216px;
          border-radius: 25px 25px 0 0;
          opacity: 1;
        }

        &__tag {
          position: absolute;
          top: 2.5%;
          right: 5%;
          color: #fff;
          font-size: 15px;
          font-weight: bold;
          background-color: #444;
          border-radius: 20px;
          padding: 8px 10px;
        }

        &__text {
          display: flexbox;
          width: 364px;
          color: #000;
          position: relative;

          &__headline {
            width: 364px;
            margin: 5px 10px 0;
            height: 20px;
            line-height: 20px;
            font-size: 18px;
            font-weight: bold;
            position: relative;
            top: 5px;
          }

          &__description {
            width: 364px;
            margin: 5px 10px 0;
            height: 40px;
            line-height: 20px;
            font-size: 14px;
            position: relative;
            top: 28px;
          }

          &__date {
            display: flex;
            justify-content: center;
            font-size: 12px;
            position: relative;
            bottom: 10px;
            color: #8b8b8b;
            margin: 50px;
            font-weight: bold;

            &__Published {
              margin-right: 20px;
              &::before {
                content: "投稿日 : ";
              }
            }

            &__Updated {
              margin-left: 20px;
              &::before {
                content: "更新日 : ";
              }
            }
          }

        }
      }
    }
  }
}
