@use "../var/var" as *;
@use "../var/mixin" as *;
.article {
  flex: 1 1 70%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  overflow-y: scroll;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
  /* Chrome, Safari 対応 */
  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    position: relative;

    a {
      text-decoration: none;
    }

    &__section {
      width: 320px;
      height: 305px;
      background-color: #fff;
      box-shadow: 5px 5px 15px #00000080;
      border-radius: 25px;
      margin: 20px;
      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        box-shadow: 10px 15px 15px #00000080;
        opacity: 0.8;
        transition: all .3s;
      }

      &__img {
        width: 320px;
        height: 180px;
        opacity: 1;
        border-radius: 25px 25px 0 0;
      }

      &__tag {
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 12px;
        background-color: #c29523;
        border-radius: 20px;
        padding: 8px 10px;
      }

      &__text {
        display: flexbox;
        width: 320px;
        color: #000;

        &__headline {
          width: 288px;
          margin: 5px 5% 0;
          margin-top: 8px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
        }

        &__description {
          margin: 5px 5% 0;
          height: 40px;
          text-align: center;
          font-size: 14px;
          line-height: 20px;
          white-space: break-word;
          font-weight: 500;
          position: relative;
          top: 24px;
        }

        &__date {
          display: flex;
          justify-content: center;
          font-size: 12px;

          &__Published {
            margin-right: 10px;
            margin-top: 30px;

            &::before {
              content: "投稿日 : ";
            }
          }

          &__Updated {
            margin-left: 10px;
            margin-top: 30px;

            &::before {
              content: "更新日 : ";
            }
          }
        }

      }
    }
  }
}
